Repository motanova84/gw250114-141hz-analysis, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, python, ci/cd, dependencies, testing, scripts, notebooks, configuration, validation, analysis, gravitational-waves, results, dashboard

.github/labeler.yml:

# Configuration for PR labeler
# Automatically labels PRs based on changed files

# Documentation
documentation:
  - changed-files:
    - any-glob-to-any-file: 
      - '**/*.md'
      - 'docs/**/*'

# Python code
python:
  - changed-files:
    - any-glob-to-any-file: '**/*.py'

# Workflows and CI/CD
ci/cd:
  - changed-files:
    - any-glob-to-any-file:
      - '.github/workflows/**'
      - '.github/actions/**'
      - 'Makefile'
      - 'Dockerfile'

# Dependencies
dependencies:
  - changed-files:
    - any-glob-to-any-file:
      - 'requirements.txt'
      - 'setup.py'
      - 'pyproject.toml'

# Tests
testing:
  - changed-files:
    - any-glob-to-any-file:
      - '**/test_*.py'
      - 'tests/**/*'
      - 'scripts/test_*.py'

# Scripts
scripts:
  - changed-files:
    - any-glob-to-any-file: 'scripts/**/*'

# Notebooks
notebooks:
  - changed-files:
    - any-glob-to-any-file: 
      - '**/*.ipynb'
      - 'notebooks/**/*'

# Configuration files
configuration:
  - changed-files:
    - any-glob-to-any-file:
      - '*.json'
      - '*.yml'
      - '*.yaml'
      - 'config/**/*'

# Validation
validation:
  - changed-files:
    - any-glob-to-any-file:
      - '**/validat*.py'
      - '**/validate_*.py'
      - '**/validacion_*.py'

# Analysis
analysis:
  - changed-files:
    - any-glob-to-any-file:
      - '**/analiz*.py'
      - '**/analizar_*.py'
      - '**/multi_event_*.py'

# Gravitational waves
gravitational-waves:
  - changed-files:
    - any-glob-to-any-file:
      - '**/*gw*.py'
      - '**/*ligo*.py'
      - '**/descargar_datos.py'

# Results and figures
results:
  - changed-files:
    - any-glob-to-any-file:
      - 'results/**/*'
      - '**/*.png'
      - '**/*.pdf'
      - '**/*.jpg'

# Web/Dashboard
dashboard:
  - changed-files:
    - any-glob-to-any-file:
      - 'dashboard/**/*'
      - 'index.html'
      - '*.html'
      - 'vercel.json'

Update scripts/validate_asd_script.py
  scripts/validate_asd_script.py
Labels: python, scripts, validation

Update scripts/test_analizar_asd_141hz.py
  scripts/test_analizar_asd_141hz.py
Labels: python, testing, scripts

Update docs/ASD_ANALYSIS_141HZ.md
  docs/ASD_ANALYSIS_141HZ.md
Labels: documentation

Update scripts/analizar_asd_141hz.py
  scripts/analizar_asd_141hz.py
Labels: python, scripts, analysis

Update scripts/test_analizar_asd_141hz.py
  scripts/test_analizar_asd_141hz.py
Labels: python, testing, scripts

Update scripts/validate_badges.py
  scripts/validate_badges.py
Labels: python, scripts, validation

Update scripts/validate_badges.py
  scripts/validate_badges.py
Labels: python, scripts, validation

Update scripts/test_validate_badges.py
  scripts/test_validate_badges.py
Labels: python, testing, scripts

Update docs/BADGES.md
  docs/BADGES.md
Labels: documentation

Apply suggestion from @Copilot
  results/criterios_falsacion.json
Labels: results

Apply suggestion from @Copilot
  results/evidencia_empirica_gw150914.json
Labels: results

Update results/evidencia_empirica_gw150914.json
  results/evidencia_empirica_gw150914.json
Labels: results

Add files via upload
  Noetic Quantum Gravity.pdf
Labels: results

Update scripts/busqueda_armonicos_superiores.py
  scripts/busqueda_armonicos_superiores.py
Labels: python, scripts

Update scripts/caracterizacion_bayesiana.py
  scripts/caracterizacion_bayesiana.py
Labels: python, scripts

Update scripts/test_validacion_radio_cuantico.py
  scripts/test_validacion_radio_cuantico.py
Labels: python, testing, scripts

Update scripts/test_validacion_radio_cuantico.py
  scripts/test_validacion_radio_cuantico.py
Labels: python, testing, scripts

Update scripts/test_validacion_radio_cuantico.py
  scripts/test_validacion_radio_cuantico.py
Labels: python, testing, scripts

Update scripts/analizar_gw200129.py
  scripts/analizar_gw200129.py
Labels: python, scripts, analysis, gravitational-waves

Update desi/desi_wz_analysis.py
  desi/desi_wz_analysis.py
Labels: python

Update igets/igets_fft_analysis.ipynb
  igets/igets_fft_analysis.ipynb
Labels: notebooks

Update SECURITY_SUMMARY_LISA_DESI_IGETS.md
  SECURITY_SUMMARY_LISA_DESI_IGETS.md
Labels: documentation

Add files via upload
  DEMOSTRACION_RIGUROSA_ECUACION_GENERADORA_UNIVERSAL_141_7001_HZ.pdf
Labels: results

Update README to remove theoretical foundation
  README.md
Labels: documentation

Remove technical milestones section from README
  README.md
Labels: documentation

Update DERIVACION_COMPLETA_F0.md
  DERIVACION_COMPLETA_F0.md
Labels: documentation

Delete detailed scientific method document
  SCIENTIFIC_METHOD.md
Labels: documentation
